.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gornyprawyrog {
  display: flex;
  align-items: right;
  justify-content: right;
}

body {
  background-image: url(assets/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}